<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/voters">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Voters</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/votes">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Votes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/positions">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Positions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/candidates">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Candidates</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/analytics">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Vote Analysis</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/surveys">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Survey</span>
            </a>
        </li>
    </ul>
</nav>